.hide-party-hp .table-header .controls {
    text-align: end;
}

.hide-party-hp .table-header .name {
    text-align: center
}

.hide-party-hp .members-list .controls {
    text-align: end;
    padding-left: 30px;
}

.hide-party-hp .group-member .thumbnail {
    flex-grow: unset;
    height: 70px;
}

.hide-party-hp-invisible {
    visibility: hidden;
}